{
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["bench/**/*.js", "test/**/*.js", "*.conf.js"]
      }
    ],
    "import/extensions": 0
  },
  "overrides": [
    {
      "files": ["index.js"],
      "rules": {
        "import/prefer-default-export": 0
      }
    },
    {
      "files": ["bench/**/*.js"],
      "globals": {
        "suite": true,
        "benchmark": true
      },
      "rules": {
        "max-classes-per-file": 0,
        "no-unused-expressions": 0,
        "func-names": 0
      }
    },
    {
      "files": ["test/**/*.js"],
      "env": {
        "mocha": true
      },
      "rules": {
        "max-classes-per-file": 0,
        "no-unused-expressions": 0,
        "import/prefer-default-export": 0
      }
    }
  ]
}
