/.vscode/
/coverage/
*.bench.js
*.spec.js
.browserslistrc
.commitlintrc
.editorconfig
.eslintrc
.huskyrc
.lintstagedrc
.prettierignore
.prettierrc
karma.bench.conf.js
karma.bs.conf.js
karma.conf.js
results.json
wallaby.js
*.log
