/.github/
/.husky/
/.vscode/
/benchmarks/
/coverage/
*.spec.js
.browserslistrc
.commitlintrc
.editorconfig
.eslintrc
.lintstagedrc
.prettierignore
.prettierrc
results.json
wallaby.js
web-test-runner.bs.config.mjs
web-test-runner.config.mjs
*.log
